
<app-title-bar [headingText]='headingText' (createNewItem)="handleCreateNewItem()" (gotoPreviousPage)="gotoPreviousPage()"
[isListMode]=0></app-title-bar>
 
<div class="container mt-4">
    
    <form (ngSubmit)="onSubmit(myform)" class="col-md-6" #myform="ngForm" novalidate>
      <div class="mb-3">
        <label for="dpcode" class="form-label" >DPCode : </label>
        <input type="text" id="dpcode" [(ngModel)]="newBranch.dpCode" name="dpcode" class="form-control"  maxlength="50" required  #dpcode="ngModel" minlength="2" >
  
          <span *ngIf="dpcode.hasError('required') && dpcode.touched && (dpcode.invalid||dpcode.dirty)" class="text-danger">*DPCode is required</span>
          <span *ngIf="dpcode.hasError('minlength')" class="text-danger">
            DPCode must be at least 2 characters long
  
          </span>
      </div>
      <div class="mb-3">
        <label for="name"class="form-label" >BRANCH NAME : </label>
        <input type="text" id="name" [(ngModel)]="newBranch.name" name="dpcode" class="form-control"  maxlength="50" required  #name="ngModel" minlength="2" >
  
          <span *ngIf="name.hasError('required') && name.touched && (name.invalid||name.dirty)" class="text-danger">*DPCode is required</span>
          <span *ngIf="name.hasError('minlength')" class="text-danger">
            Branch Name must be at least 2 characters long
  
          </span>
      </div>

      <div class="mb-3">
        <label for="circle"class="form-label" >Circle:</label>
  
        <input type="text" id="circle" [(ngModel)]="newBranch.circle" name="circle" class="form-control" required #circle="ngModel" >
        <span *ngIf="circle.hasError('required') && circle.touched && (circle.invalid||circle.dirty) " class="text-danger">*Circle is required</span>
        <app-kidu-data-picker [_kiduDataPickerModel]="_kiduDataPickerModel"   (PopUpSelected)="CircleSelected($event)"  ></app-kidu-data-picker>
          </div>

          <div class="mb-3">
            <label for="state"class="form-label" >State:</label>
      
            <input type="text" id="state" [(ngModel)]="newBranch.state" name="state" class="form-control" required #state="ngModel" >
            <span *ngIf="state.hasError('required') && state.touched && (state.invalid||state.dirty) " class="text-danger">*State is required</span>
            <app-kidu-data-picker [_kiduDataPickerModel]="_kiduDataPickerModelState"   (PopUpSelected)="StateSelected($event)"  ></app-kidu-data-picker>
              </div> 
              <div class="mb-3">
                <label for="district"class="form-label" >District : </label>
                <input type="text" id="district" [(ngModel)]="newBranch.district" name="district" class="form-control"  maxlength="50" required  #district="ngModel" minlength="2" >
          
                  <span *ngIf="district.hasError('required') && district.touched && (district.invalid||district.dirty)" class="text-danger">*DPCode is required</span>
                  <span *ngIf="district.hasError('minlength')" class="text-danger">
                    Branch Name must be at least 2 characters long
          
                  </span>
              </div> 
              <div class="mb-3 form-check">
                <input type="checkbox" id="isActive" [(ngModel)]="newBranch.isActive" name="isActive" class="form-check-input">
                <label for="isActive" class="form-check-label">Active</label>
              </div>
             <button type="submit"  class="btn btn-primary" [disabled]="myform.invalid ">Create</button>
             
      </form>
      </div> 