<br>
<div class="row">
  <div class="col-12 mx-auto">

      <div class="input-group">
          <input class="form-control border" type="text"  value="**" [(ngModel)]="sarchtxt"    (change)="GlobalSearchfun()" id="example-search-input">
      </div>
  </div>
</div>

<br>
<div *ngIf="rows">

  <table   id="dtTable"  class="table-striped table-responsive table-bordered  table mat-elevation-z8">
    <thead>
      <tr>
        <th *ngFor="let disCol of tableColumns let colIndex = index;">{{ disCol.header }}</th>
  <th >Actions</th>
      </tr>

    </thead>
    <tbody>



<tr  *ngFor="let item of  rows  ;">
    <td *ngFor="let  disCol of tableColumns let colIndex = index;">

      <span   [innerHTML] ="item[disCol.columnDef]"  ></span>


    </td>
  <td>
    <a>
      <img src="/assets/img/edit-pencil-line-01-svgrepo-com.svg" aria-hidden="true">      
    </a>
    <a>
      <img src="/assets/img/delete-svgrepo-com.svg" aria-hidden="true">      
    </a>
    
  </td>
</tr>





    </tbody>

</table>

</div>
