a{
  cursor: pointer;
}

.inactiveemployeeclass{
  margin: auto;
  background-color: red;
  text-align: center;
 align-content: center;
 padding-left: 10px;
padding-right: 10PX;
padding-top: 3px;
padding-bottom: 3PX;

}

.activemeployeeclass{
background-color: green;
text-align: center;
align-content: center;
padding-left: 10px;
padding-right: 10PX;
padding-top: 3px;
padding-bottom: 3PX;
}
.kidueditbtn{
  padding-right: 10px;

}



