<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">OUR TEAM</h5>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4"  *ngFor="let member of mainpage.managingComiteeDTOs">
        <div ontouchstart="this.classList.toggle('hover');" class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img src="https://www.cbeugjfws.co.in/images/managing-committe-img.jpg" alt="card image" class="img-fluid"></p>
                  <h4 class="card-title">{{ member.name }}</h4>
                  <p class="card-text"><span style="color: rgb(46, 97, 140);">{{ member.position }}</span></p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">{{ member.name }}</h4>
                  <p class="card-text">{{ member.description1 }}</p>
                  <ul class="list-inline">
                    <li class="list-inline-item" >
                      <a [href]="" target="_blank" class="social-icon text-xs-center"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item" >
                      <a [href]="" target="_blank" class="social-icon text-xs-center"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item" >
                      <a [href]="" target="_blank" class="social-icon text-xs-center"><i class="fa fa-skype"></i></a>
                    </li>
                    <li class="list-inline-item" >
                      <a [href]="" target="_blank" class="social-icon text-xs-center"><i class="fa fa-google"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
