<button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="onModalOpen()">
  <img src="/assets/img/search-svgrepo-com.svg" aria-hidden="true">

</button>

<div id="myconfirmbox" #myconfirmbox *ngIf="visible" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">{{_kiduDataPickerModel.TopTittle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="Close()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mx-auto">

            <div class="input-group">
              <input class="form-control border" type="text" placeholder="Type here and press enter for searching"
                value="**" [(ngModel)]="sarchtxt" (change)="KiduPickSearchfun(sarchtxt)" id="example-search-input">

            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div *ngIf="_kiduDataPickerModel.rows">

            <table id="dtTable" class="table-striped table-responsive table-bordered  table mat-elevation-z8">
              <thead>
                <tr>
                  <th *ngFor="let disCol of _kiduDataPickerModel.tableColumns let colIndex = index;">{{
                    disCol.header }}</th>
                </tr>

              </thead>
              <tbody>
                <tr *ngFor="let item of  _kiduDataPickerModel.rows  ;" (dblclick)="KiduDataPickerRoWSelected(item )">
                  <td *ngFor="let  disCol of _kiduDataPickerModel.tableColumns let colIndex = index;">
                    <div [ngSwitch]="disCol.colType">
                      <div *ngSwitchCase="1">
                        <span [innerHTML]="item[disCol.columnDef]"></span>

                      </div>
                      <div *ngSwitchCase="2">
                        <span class="rounded-pill " style="background-color: green;"
                          [innerHTML]="item[disCol.columnDef]"></span>

                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="Close()">Cancel</button>

      </div>
    </div>
  </div>
</div>
