
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/category-svgrepo-com.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      {{headingText}}
    </a>
    <div class="d-flex">
      <button  *ngIf="isListMode==1" class="btn btn-success"  (click)="addNewItem()"   type="button">Add New</button>
      <button  *ngIf="isListMode==0" class="btn btn-success"  (click)="goToPrevious()"   type="button"> 'Back</button>
    </div>
  </div>
</nav>
