<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CBEA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" [routerLink]="['/categories']" >Categories</a>
        <a class="nav-link" [routerLink]="['/states']" >States</a>
        <a class="nav-link" [routerLink]="['/usertypes']" >User Types</a>
        <a class="nav-link" [routerLink]="['/status']" >Status</a>
        <a class="nav-link" [routerLink]="['/designation']" >Designation</a>
        <a class="nav-link" [routerLink]="['/circles']" >Circles</a>
        <a class="nav-link" [routerLink]="['/branch']" >Branches</a>
        <a class="nav-link" [routerLink]="['/user']" >User</a>
        <a class="nav-link" [routerLink]="['/member']" >Member</a>
        <a class="nav-link" [routerLink]="['/DailyNews']" >Daily News</a>
        <a class="nav-link" [routerLink]="['/dailyquotes']" >Quotes</a>
        <a class="nav-link" [routerLink]="['/mainPage']" >MainPage</a>
        <a class="nav-link" [routerLink]="['/managingcomitee']" >Managing Commmitee</a>
        <a class="nav-link" [routerLink]="['/refunds']" >Refunds</a>
        <a class="nav-link" [routerLink]="['/deathclaims']" >Death Claims</a>
        <a class="nav-link" [routerLink]="['/directpays']" >Direct Pays</a>
      </div>
    </div>
  </div>
</nav>
