<app-title-bar [headingText]='headingText' (createNewItem)="handleCreateNewItem()" (gotoPreviousPage)="gotoPreviousPage()"
[isListMode]=0></app-title-bar>
<div class="container mt-4">
    <h2>Create Usertype</h2>
    <form (ngSubmit)="onSubmit(myform)" class="col-md-6" #myform="ngForm" novalidate>
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <input type="text" id="description" [(ngModel)]="newUsertype.description" name="description" class="form-control" required #description="ngModel" >
        <span *ngIf="description.touched && (description.invalid && description.dirty)" class="text-danger p-0"></span>
          
          <span **ngIf="description.hasError('required')"  class="text-danger p-0">*Description is required</span>
          
      
      </div>
      <div class="mb-3">
        <label for="abbreviation" class="form-label">Abbreviation:</label>
       
        <input type="text" id="abbreviation" [(ngModel)]="newUsertype.abbreviation" name="abbreviation" class="form-control" required  #abbreviation="ngModel">
        
        
         <span *ngIf=" abbreviation.touched && (abbreviation.invalid && abbreviation.dirty)  " class="text-danger p-0" id="Abbval">*Abbreviation is required</span>
        <span **ngIf="abbreviation.hasError('required') " class="text-danger p-0">*Abbreviation is required</span>
        </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">Create</button>
    </form>
  </div>
  