<app-title-bar [headingText]='headingText' (createNewItem)="handleCreateNewItem()"></app-title-bar>
<div class="container mt-4">
    <h2></h2>
  <form (ngSubmit)="onSubmit(myform)" class="col-md-6" #myform="ngForm" novalidate>
    <div class="mb-3">
        <label for="newstext" class="form-label" >News :</label> 
        <input type="text" id="newstext" [(ngModel)]="newNews.newstext" name="newstext" class="form-control"  required  #newstext="ngModel" minlength="2" >
      
        <span *ngIf="newstext.hasError('required') && newstext.touched && (newstext.invalid||newstext.dirty)" class="text-danger">*please type news items</span>
        <span *ngIf="newstext.hasError('minlength')" class="text-danger">
          Name must be at least 2 characters long

        </span>  
    </div>
  <div class="mb-3">
        <label for="dateofaction" class="form-label" >Date:</label> 
        <input type="datetime" placeholder="yyyy-mm-dd"  id="dateofaction" [(ngModel)]="newNews.dateofaction" name="dateofaction" class="form-control"  required  #dateofaction="ngModel"  min="2024-01-01"  >
      
        <span *ngIf="dateofaction.hasError('required') && dateofaction.touched && (dateofaction.invalid||dateofaction.dirty)" class="text-danger">*please type news items</span>
        
        </div> 
    <div class="mb-3 form-check">
        <input type="checkbox" id="isActive" [(ngModel)]="newNews.isActive" name="isActive" class="form-check-input">
        <label for="isActive" class="form-check-label">Active</label>
      </div>
     <button type="submit"  class="btn btn-primary" [disabled]="myform.invalid ">Create</button>
    </form>
</div>